*{
    color:aliceblue;
    
}
header, footer{ /*agrupamento de seletores*/
    background-color: rgb(120, 77, 131);
    padding: 1rem;
    text-align:  center;
}
main{
    display: flex; /*permite que os elementos de section fiquem um ao lado do outro*/
    justify-content: space-around; /*tem várias possibilidades, é o que alinha tudo do display flex*/
    background-color: rgb(217, 226, 203);
    gap: 1rem; /*significa distancia, espaçamento. nesse caso, ele sta entre os sections, por incrível que pareça. similar ao margin, porem mais indicado com configurações com flex e grid*/
    flex-wrap: wrap; /*possibilidade de quebrar os cards*/
}
main > section{ /*seleciona o filho direto. O caracter '>' seleciona o elemento diretamente filho do a esquerda*/
    background-color: rgb(112, 112, 112);
    border-radius: 1rem; /*arredonda bordas*/
    border: 1px solid gray; /*pede 3 coisas: grussura,*/
    margin: 1rem 0; 
    width: 20rem; /*largura*/
    padding: 1rem; /*espçamento interno*/
    box-shadow: 0 0 0.3rem 0.3rem rgb(200, 200, 200); /*:::deslocamentos:desfoque:cor*/
}
section > figure{
    text-align: center
}
section > h2{
    text-align: center
}